body {
    background-image: linear-gradient(#C04848, #480048);
    min-height: 100vh;
    font-family: "Roboto";
}

.btn {
    background-color: #C04848;
    border-radius: 20px;
    outline: none;
}

.btn:hover {
    background-color: #C04848;
}

.card {
    background-color: #f7d1cd;
}