<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Device Controlling</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="h3 my-4 text-center font-weight-bold text-white">Welcome</div>

    <div class="container">
        <div class="card mx-5 px-5">
            <form>
                <div class='d-flex flex-column justify-content-center align-items-center'>
                    <div class="h5 mt-3 mb-1">Option*</div>
                    {{form.option}}
                    <div class="h5 mt-3 mb-1">Video Rate</div>
                    {{form.rate}}
                    <div class="h5 mt-3 mb-1">Output Filename</div>
                    {{form.output}}
                    <div class="h5 mt-3 mb-1">Image Filename</div>
                    {{form.filename}}
                    <button type="submit" class="btn btn-primary py-2 px-3 mt-5 mb-3">Continue</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>